.home_wrapper {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.home_page {
    position: relative;
    background-color: var(--body-color);
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}



.home_page>.conatiner-fluid {
    overflow: hidden;
}

.theme_switcher_label {
    width: 50px;
    height: 50px;
    background-color: var(--opacity-of-nav-bg);
    /* opacity: 0.3; */
    border-radius: 50%;
    display: flex;
    position: fixed;
    right: 30px;
    top: 30px;
    transition: 0.3s all;
    z-index: 99;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.theme_switcher_label:hover {
    background-color: rgba(75, 75, 75, 0.7);
}

.theme_switcher_label .theme_icon {
    color: var(--text-icon);
}



.theme_switcher_label input[type='checkbox'] {
    display: none;
}

.yellow_strap_bg {
    background-color: var(--main-primary-color);
    height: 200%;
    width: 100%;
    position: fixed;
    left: -83%;
    top: -50%;
    transform: rotate(-15deg);
}

.home_container_row {
    width: 100%;
    height: 100vh;
    /* position: absolute; */
    /* background-color: red; */
    --bs-gutter-x: 0;
    padding: 40px;
}

.portfolio_display_img {
    position: relative;
    height: 550px;
    background-position: top;
    background-size: cover;
    border-radius: 30px;
    box-shadow: 0px 0px 12px 2px #000;
    overflow: hidden;
}

.portfolio_display_img > img
{
    height: 100%;
    object-fit: cover;
}

.content_display {
    padding: 50px 150px 50px 100px;
    color: #fff;
}

.content_display h1 {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 55px;
    font-weight: 700;
    color: var(--main-primary-color);
    position: relative;
    left: 80px;
}

.content_display h1 span:nth-child(1) {
    color: var(--main-primary-color);
}

.content_display h1 span:nth-child(2) {
    color: var(--text-icon);
}

.content_display h1::before {
    content: "";
    position: absolute;
    height: 4px;
    width: 40px;
    background-color: var(--main-primary-color);
    left: -80px;
    bottom: 100px;
    border-radius: 20px;
}

.content_display p {
    line-height: 35px;
    color: var(--text-icon);
}


.icons {
    font-size: 18px;
    font-weight: 700;
}

@media screen and (min-width:360px) and (max-width:996px) {
    /* .img_display {
        display: flex;
        justify-content: center;
        border: 2px solid #fff;
        width: 250px;
        height: 250px;
        margin: 0 auto;
        border-radius: 50%;
    } */

    .home_page {
        overflow: inherit;
        padding-bottom: 90px;
    }

    ::-webkit-scrollbar {
        width: none;
        display: none;
    }

    .portfolio_display_img {
        display: none;
    }

    .mobile_view_img {
        width: 230px;
        height: 230px;
        position: relative;
        border-radius: 50%;
        border: 4px solid #252525;
        margin: 0 auto;
        transition: 0.3s all;
    }

    .mobile_view_img img {
        position: absolute;
        /* width: 100%; */
        object-fit: cover;
        height: 100%;
        border-radius: 50%;
        background-position: center;
        background-size: cover;
        transition: 0.3s all;
    }

    .content_display h1 {
        /* flex-direction: row; */
        font-size: 25px;
        line-height: 35px;
        left: 0;
        text-align: center;
    }

    .content_display {
        padding: 30px 5px;
        color: #fff;
        margin-bottom: 70px;
    }

    .content_display h1::before {
        display: none;
    }

    .content_display p {
        line-height: 30px;
        font-size: 14px;
        text-align: center;
        margin-top: 20px;
    }

    .content_display button {
        margin: 0 auto;
    }

    .content_display > button > a
    {
        color: #fff;
    }


    .icon_menu {
        flex-direction: row;
        gap: 10%;
        z-index: 1000;
        justify-content: center;
        margin-right: 0px;
        padding-left: 0px;
        margin-top: 8px;
    }

    .header {
        background: #2b2a2a;
        bottom: 0;
        display: block;
        left: 0;
        padding: 8px;
        right: auto;
        top: auto;
        -webkit-transform: none;
        transform: none;
        width: 100%;
        z-index: 1000;
        /* transition: 0.3s all; */
    }

    .header header {
        margin-top: 5px;
        /* transition: 0.3s all; */
    }

    .header::before {
        content: "";
        position: absolute;
        background: #2b2a2a;
        width: 100%;
        height: 100%;
        /* transition: 0.3s all; */
    }


    .icon_menu li {
        width: 45px;
        height: 45px;
        align-items: center;
    }

    .icon_menu li .icons {
        font-size: 20px;
    }

}

@media screen and (min-width:586px) and (max-width:996px) {
    .home_wrapper {
        padding-bottom: 70px;
    }

    .mobile_view_img {
        width: 280px;
        height: 280px;
        position: relative;
        border-radius: 50%;
        border: 4px solid #252525;
        margin: 0 auto;
        transition: 0.3s all;
    }

    .mobile_view_img img {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-position: center;
        background-size: cover;
        transition: 0.3s all;
    }

    .content_display h1 {
        /* flex-direction: row; */
        font-size: 30px;
        line-height: 40px;
        left: 0;
        text-align: center;
    }

    .content_display p {
        font-size: 16px;
        padding: 0px 55px;
    }

    .conatiner-fluid {
        height: 700px
    }
}